* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("images/pngtree-tetris-wallpaper-hd-1080p-picture-image_2779801.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
}

.gameFieldOverlay{
    display: grid;
    grid-template-columns: 4fr 5fr;
}

.gameFieldInfo{
    display: flex;
    flex-direction: column;
    min-width: 150px;
    margin-top: 30px;
    justify-content: start;

}

.scoreTitle{
    display: flex;
    color: #0dffff;
}

.score{
    padding-left: 10px;
}

.linesTitle {
    display: flex;
    color: #0dffff;
}

.lines{
    padding-left: 20px;
}

h2{
    color: #222;
    background: linear-gradient(90deg, #0f0, #1899ff, #f0f, #f00, #ff0 90%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.04em transparent;
    font-size: 5em;
    animation: animate 1.5s linear infinite;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    color: #222;
    background: linear-gradient(90deg, #0f0, #1899ff, #f0f, #f00, #ff0 90%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.04em transparent;
    transform: translate(-10px, -10px);
    z-index: -1;
    opacity: 0.1;
}
h2::after{
    content: attr(data-text);
    position: absolute;
    left: 0;
    color: #222;
    background: linear-gradient(90deg, #0f0, #1899ff, #f0f, #f00, #ff0 90%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.04em transparent;
    transform: translate(-20px, -20px);
    z-index: -1;
    opacity: 0.05;
}
@keyframes animate{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}

h2:last-child{
    display: flex;
    font-size: 5em;
}
h2:last-child:hover p{
    opacity: 0;
    filter: blur(30px);
    transform: rotate(45deg) translateY(-200px);
}

.grid {
    background: #333333;
    padding: 0.5vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 0.5vh;
}

.grid div {
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background-color: rgba(182, 166, 166, 0.2);
    border-radius: 0.3vh;
}

.grid .O {
    background: linear-gradient(45deg, #0033ff, #0cff00);
}

.grid .J {
    background: linear-gradient(45deg, #0000C8, #f9280e);
}

.grid .L {
    background: linear-gradient(45deg, #f90f71, #3c19e5);
}

.grid .I {
    background: linear-gradient(45deg, #0dffff, #f900a9);
}

.grid .S {
    background: linear-gradient(45deg, #7cf801, #ff0000);
}

.grid .Z {
    background: linear-gradient(45deg, #D71414FF, #21fd00);
}

.grid .T {
    background: linear-gradient(45deg, #9200d3, #01fb47);
}

